{% extends 'layouts/base.html' %}

{% block container %}
    
        <h1>About me:</h1>
        <p>Mi nombre es Nahuel Matoso, actualmente tengo 22 años y soy de Argentina. Trabajo de Administrador de Sistemas Linux en una empresa de Hosting en la cual empecé como
            soporte tecnico en la parte de call center, área en la cual estuve durante unos 2 años y medio. El proyecto no tiene un tema en particular, sino que mi idea fue principalmente
            que cada usuario pudiese publicar sobre lo que quiera. Como se podrá ver, no me enfoque mucho en la parte de diseño, sobre todo en ciertas partes de la web como el login, etc.
            Mi enfoque fue más que nada en lo funcional como tal, especialmente porque tuve ciertas limitaciones de tiempo con mi trabajo, asi que no conté con tanto tiempo como hubiese
            querido. Aún asi espero que les guste!</p>

{% endblock %}