{% extends 'layouts/base.html' %}

{% block container %}
          
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="{{object.image.url}}" alt="..." /></a>
        <div class="card-body">
            <div class="medium text-primary text-capitalize">Author: {{object.author.username}}</div>
            <div class="small text-muted">{{object.date}}</div>
            <h2 class="card-title">{{object.title}}</h2>
            <h4 class="card-subtitle mb-2 text-muted">{{object.subtitle}}</h4>
            <p class="card-text">{{object.description}}</p>
        </div>
    </div>



{% endblock %}